body{
    font-family: 'Montserrat', sans-serif;
}
p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 12px;
}
.text{
    font-size: 20px;
}