.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 288);
    z-index: 101;
}
.left_section{
        display: flex;
    align-items: center;
}
.hamburger_menu 
{
    height:24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube_logo{
    height: 20px;
}
.middle_section{
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
    display: flex;
    align-items: center;
}
.search_box{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search_box::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search_button{
    height: 40px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    margin-left: -1px;
    margin-right: 10px;
}
.search_icon{
    height: 25px;
    margin-top: 4px;
}
.voice_search_button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    border: none;
}
.voice_search_icon{
    height: 24px;
    margin-top: 4px;
}
.right_section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.upload_icon{
    height: 24px;
}
.youtube_apps_icon{
    height: 24px;
}
.notifications_icon_container{
    position: relative;
}
.notifications_icon{
    height: 24px;
}
.notifications_count{
    position: absolute;
    background-color: rgb(200, 0, 0);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-size: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    right: -5px;
    top: -2px;
}
.current_user_picture{
    height: 32px;
    border-radius: 16px;
}
