.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left_section{
    background-color: lightblue;
    width: 150px;
}
.middle_section{
    background-color: lightpink;
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
}
.right_section{
    background-color: lightgreen;
    width: 180px;
}