.side_bar{
    position: fixed;
    top: 55px;
    left:0;
    bottom: 0;
    width: 72px;
    background-color: white;
    padding-top: 8px;
    font-size: 10px;
    z-index: 102;
}
.sidebar_link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.15s;
    cursor: pointer;
}
.sidebar_link:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar_link img{
    width: 24px;
    margin-bottom: 6px;
    justify-content: center;
}