p{
    font-family: Roboto, Arial;
    margin: 0;
}
.all_videos_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
.thumbnail_box{
    margin-bottom: 10px;
}
.thumbnail{
    width:100%;
}
.search_box{
    font-size: 20px;
    margin-left: 12px;
    display: block;
    margin-bottom: 20px;
}
.video_grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile_pic{
    width: 40px;
    border-radius: 50%;
}
.all_description{
    margin-top: 0;
}
.video_title{
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.video_author, .video_stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video_author{
    margin-bottom: 4px;
}