.all_videos_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    z-index: 100;
}
@media (max-width : 880px){
    .all_videos_grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width : 1180px){
    .all_videos_grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.thumbnail_box{
    margin-bottom: 8px;
    position: relative;
}
.thumbnail{
    width:100%;
}
.video_length{
    background-color: black;
    color:white;
    position: absolute;
    bottom: 8px;
    right:5px;
    font-size: 12px;
    padding: 4px;
    font-weight: 600;
    border-radius: 4px;

}
.video_grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile_pic{
    width: 36px;
    border-radius: 50%;
}
.all_description{
    margin-top: 0;
}
.video_title{
    margin-bottom: 10xpx;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.video_author, .video_stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video_author{
    margin-bottom: 4px;
}